<div class="row" style="margin-left: 10px; margin-bottom: 5px;">
	<button type="button" id="h1" class="btn btn-info tool" style="font-size: 18px; padding-left: 7px;">H1</button>
	<button type="button" id="h2" class="btn btn-info tool" style="font-size: 14px; padding-left: 8px;">H2</button>
	<button type="button" id="h3" class="btn btn-info tool" style="font-size: 12px; padding-left: 9px;">H3</button>
	<button type="button" id="h4" class="btn btn-info tool" style="font-size: 10px; padding-left: 10px;">H4</button>
	<button type="button" id="h5" class="btn btn-info tool" style="font-size: 9px;">H5</button>
	<button type="button" id="h6" class="btn btn-info tool" style="font-size: 8px;">H6</button>
	<button type="button" id="i" class="btn btn-info tool"><i>I</i></button>
	<button type="button" id="b" class="btn btn-info tool"><b>B</b></button>
	<button type="button" id="s" class="btn btn-info tool"><s>S</s></button>
	<button type="button" id="list" class="btn btn-info tool">1.</button>
	<button type="button" id="link" class="btn btn-info tool" style="font-size: 18px; padding-left: 7px;">&lt;&gt;</button>
	<button type="button" id="img" class="btn btn-info tool" style="padding-left: 3px;">img</button>
	<button type="button" id="code" class="btn btn-info tool" style="font-size: 10px; padding-left: 5px;">code</button>
	<button type="button" id="quote" class="btn btn-info tool" style="font-size: 10px; padding-left: 2px;">quote</button>
</div>
<script type="text/javascript">
	function elid(id) { return document.getElementById(id); }

	function toolAction(text_element, markdown_text, selection_start, selection_end) {
		var sel = textarea.selectionEnd;
		text_element.value = text_element.value.substring(0, sel) + markdown_text + text_element.value.substring(sel, textarea.length);
		text_element.focus();
		text_element.setSelectionRange(sel+selection_start, sel+selection_start+selection_end)
	}

	var textarea = elid("markdown_text");
	elid("h1").onclick = function() { toolAction(textarea, "\n# TITLE\n", 3, 5); }
	elid("h2").onclick = function() { toolAction(textarea, "\n## TITLE\n", 3, 5); }
	elid("h3").onclick = function() { toolAction(textarea, "\n### TITLE\n", 3, 5); }
	elid("h4").onclick = function() { toolAction(textarea, "\n#### TITLE\n", 3, 5); }
	elid("h5").onclick = function() { toolAction(textarea, "\n##### TITLE\n", 3, 5); }
	elid("h6").onclick = function() { toolAction(textarea, "\n###### TITLE\n", 3, 5); }
	elid("i").onclick = function() { toolAction(textarea, "*TEXT*", 1, 4); }
	elid("b").onclick = function() { toolAction(textarea, "**TEXT**", 2, 4); }
	elid("s").onclick = function() { toolAction(textarea, "~~TEXT~~", 2, 4); }
	elid("list").onclick = function() { toolAction(textarea, "\n1. ITEM\n2. ITEM\n3. ITEM\n", 4, 4); }
	elid("link").onclick = function() { toolAction(textarea, "[TEXT](LINK)", 1, 4); }
	elid("img").onclick = function() { toolAction(textarea, "![TEXT](IMAGE_LINK \"TITLE\")", 2, 4); }
	elid("code").onclick = function() { toolAction(textarea, "`CODE`", 1, 4); }
	elid("quote").onclick = function() { toolAction(textarea, "\n> TEXT", 3, 4); }
</script>