<div class="row" style="margin-left: 10px; margin-bottom: 5px;">
	<button type="button" id="h1" class="btn btn-info tool" style="font-size: 18px; padding-left: 7px;">H1</button>
	<button type="button" id="h2" class="btn btn-info tool" style="font-size: 14px; padding-left: 8px;">H2</button>
	<button type="button" id="h3" class="btn btn-info tool" style="font-size: 12px; padding-left: 9px;">H3</button>
	<button type="button" id="h4" class="btn btn-info tool" style="font-size: 10px; padding-left: 10px;">H4</button>
	<button type="button" id="h5" class="btn btn-info tool" style="font-size: 9px;">H5</button>
	<button type="button" id="h6" class="btn btn-info tool" style="font-size: 8px;">H6</button>
	<button type="button" id="i" class="btn btn-info tool"><i>I</i></button>
	<button type="button" id="b" class="btn btn-info tool"><b>B</b></button>
	<button type="button" id="s" class="btn btn-info tool"><s>S</s></button>
	<button type="button" id="list" class="btn btn-info tool">1.</button>
	<button type="button" id="link" class="btn btn-info tool" style="font-size: 18px; padding-left: 7px;">&lt;&gt;</button>
	<button type="button" id="img" class="btn btn-info tool" style="padding-left: 3px;">img</button>
	<button type="button" id="code" class="btn btn-info tool" style="font-size: 10px; padding-left: 5px;">code</button>
	<button type="button" id="quote" class="btn btn-info tool" style="font-size: 10px; padding-left: 3px;">quote</button>
</div>
<script type="text/javascript">
	var textarea = document.getElementById("markdown_text");
	document.getElementById("h1").onclick = function() { document.getElementById("markdown_text").value += "\n# TITLE"; }
	document.getElementById("h2").onclick = function() { document.getElementById("markdown_text").value += "\n## TITLE"; }
	document.getElementById("h3").onclick = function() { document.getElementById("markdown_text").value += "\n### TITLE"; }
	document.getElementById("h4").onclick = function() { document.getElementById("markdown_text").value += "\n#### TITLE"; }
	document.getElementById("h5").onclick = function() { document.getElementById("markdown_text").value += "\n##### TITLE"; }
	document.getElementById("h6").onclick = function() { document.getElementById("markdown_text").value += "\n###### TITLE"; }
	document.getElementById("i").onclick = function() { document.getElementById("markdown_text").value += "\n*TEXT*"; }
	document.getElementById("b").onclick = function() { document.getElementById("markdown_text").value += "\n**TEXT**"; }
	document.getElementById("s").onclick = function() { document.getElementById("markdown_text").value += "\n~~TEXT~~"; }
	document.getElementById("list").onclick = function() { document.getElementById("markdown_text").value += "\n1. ITEM\n2. ITEM\n3. ITEM"; }
	document.getElementById("link").onclick = function() { document.getElementById("markdown_text").value += "\n[TEXT](LINK)"; }
	document.getElementById("img").onclick = function() { document.getElementById("markdown_text").value += "\n![TEXT](IMAGE_LINK \"TITLE\")"; }
	document.getElementById("code").onclick = function() { document.getElementById("markdown_text").value += "\n`CODE`"; }
	document.getElementById("quote").onclick = function() { document.getElementById("markdown_text").value += "\n> TEXT"; }
</script>