<div class="row" style="padding-top: 10px;">
  <div class="col-md-10 col-md-offset-1">
    <%= link_to 'Back', post_path(@post), class: "btn btn-danger" %>
  </div>
</div>
<h1 class="title">Edit post</h1>
<%= render "form" %>