<h1>Lista de postagens</h1>
<% if logged_in? %>
	<p><%= link_to "New Post", new_post_path %></p>
<% end %>
<hr>
<% @posts.each do |post| %>
	<h2><a href="<%= post_path(post) %>"><%= post.title %></a></h2>
	<hr>
<% end %>
